<section class="hero is-light is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        <img
          class="logo"
          src="assets/m4i-data2model-beta.png"
          alt="Models4Insight"
        />
      </h1>
      <h2 class="subtitle is-3">
        <span class="icon">
          <fa-icon [icon]="faBookmark"></fa-icon>
        </span>
        <span translate>Version</span>
        {{ version }}
      </h2>
    </div>
  </div>
</section>
