<models4insight-sortable-table-shell [config]="tableConfigProperties" [data]="dataForTable$ | async"
  [itemsPerPage]="1000" [rowsSelectable]="false">
  <ng-template let-rowData>
    <td *ngIf="rowData">
      <ng-container>
        <div>
          {{ rowData.name |translate | titlecase }}
        </div>
      </ng-container>
    </td>
    <td>
      <models4insight-properties-item [data]="rowData.value"></models4insight-properties-item>
    </td>
  </ng-template>
</models4insight-sortable-table-shell>