<models4insight-hero title="Consistency metrics">
  <ng-container navigation>
    <li routerLinkActive="has-background-light">
      <a
        routerLinkActive="has-text-primary"
        routerLink="generate"
        queryParamsHandling="preserve"
      >
        Generate a report
      </a>
    </li>
    <li routerLinkActive="has-background-light">
      <a
        routerLinkActive="has-text-primary"
        routerLink="report"
        queryParamsHandling="preserve"
      >
        Report
      </a>
    </li>
  </ng-container>
</models4insight-hero>
