<div class="card">
  <div class="card-image">
    <a href="flink/">
      <figure class="image">
        <img src="assets/flink.png" alt="flink logo" />
      </figure>
    </a>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="text">
        Apache Flink is used for synchronizing Apache Atlas and ElasticSearch
        with the changes made in the Aurelius Atlas user interface. All jobs
        used in this solution are related via Kafka topics. The jobs further
        communicate with Apache Atlas and ElasticSearch via REST APIs.
      </p>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <a class="button is-primary is-fullwidth" href="flink/">
        Apache Flink management UI
      </a>
    </div>
  </footer>
</div>
