<div class="box">
  <h2 class="title is-2">Getting started</h2>
  <div class="content">
    <p>
      Welcome to Aurelius Atlas! We would like to help you get
      started. Please pick your topic of interest below.
    </p>
  </div>
</div>
<div class="columns is-multiline">
  <div class="column">
    <models4insight-business-context
      class="hints"
    ></models4insight-business-context>
  </div>
  <div class="column">
    <models4insight-technical-context
      class="hints"
    ></models4insight-technical-context>
  </div>
  <div class="column">
    <models4insight-governance-responsibilities
      class="hints"
    ></models4insight-governance-responsibilities>
  </div>
</div>
