<div class="card">
  <div class="card-image">
    <a href="kibana/">
      <figure class="image">
        <img src="assets/kibana.png" alt="kibana logo" />
      </figure>
    </a>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="text">
        Kibana provides the management interface for the elastic search
        solution. It allows you to see the stored information as well as manage
        credentials for the ElasticSearch environment. ElasticSearch can be
        integrated with Keycloak, however this requires a special license form
        elastic.
      </p>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <a class="button is-primary is-fullwidth" href="kibana/">
        Elastic search management UI
      </a>
    </div>
  </footer>
</div>
