<ng-container
  [formGroup]="editorFormService.form"
  *ngIf="validationResults$ | async as rules"
>
  <div class="field">
    <label class="label">Name</label>
    <div class="grid">
      <div class="control">
        <input
          id="name"
          name="name"
          class="input"
          type="text"
          placeholder="Name"
          [formControl]="name"
          required
          [class.is-danger]="(name.dirty || name.touched) && name.invalid"
        />
      </div>
      <ng-container *ngIf="rules.name as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
    <ng-container *ngIf="(name.dirty || name.touched) && name.invalid">
      <p *ngIf="name.errors?.required" class="help is-danger">
        Name is required.
      </p>
    </ng-container>
  </div>

  <div *ngIf="false" class="field">
    <label class="label">Type alias</label>
    <div class="grid">
      <div class="control">
        <input
          id="typeAlias"
          name="typeAlias"
          class="input"
          type="text"
          placeholder="Type alias"
          [formControl]="typeAlias"
          [class.is-danger]="
            (typeAlias.dirty || typeAlias.touched) && typeAlias.invalid
          "
        />
      </div>
      <ng-container *ngIf="rules.typeAlias as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="grid">
      <div class="control">
        <input
          id="email"
          name="email"
          class="input"
          type="email"
          placeholder="Email"
          [formControl]="email"
          required
          [class.is-danger]="(email.dirty || email.touched) && email.invalid"
        />
      </div>
      <ng-container *ngIf="rules.email as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
    <ng-container *ngIf="(email.dirty || email.touched) && email.invalid">
      <p *ngIf="email.errors?.required" class="help is-danger">
        Email is required.
      </p>
      <p *ngIf="email.errors?.email" class="help is-danger">
        This email address is wrongly formatted.
      </p>
    </ng-container>
  </div>

  <div class="field">
    <label class="label">Domain lead</label>
    <div class="grid">
      <div class="control">
        <models4insight-relationships-input
          [tags]="domainLead"
          typeName="m4i_data_domain"
          [rule]="rules.domainLead"
        ></models4insight-relationships-input>
      </div>
      <ng-container *ngIf="rules.domainLead as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Data owner entities</label>
    <div class="grid">
      <div class="control">
        <models4insight-relationships-input
          [tags]="businessOwnerEntities"
          typeName="m4i_data_entity"
          [rule]="rules.businessOwnerEntity"
        ></models4insight-relationships-input>
      </div>
      <ng-container *ngIf="rules.businessOwnerEntity as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Data owner attributes</label>
    <div class="grid">
      <div class="control">
        <models4insight-relationships-input
          [tags]="businessOwnerAttributes"
          typeName="m4i_data_attribute"
          [rule]="rules.businessOwnerAttribute"
        ></models4insight-relationships-input>
      </div>
      <ng-container *ngIf="rules.businessOwnerAttribute as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Data steward entities</label>
    <div class="grid">
      <div class="control">
        <models4insight-relationships-input
          [tags]="stewardEntities"
          typeName="m4i_data_entity"
          [rule]="rules.stewardEntity"
        ></models4insight-relationships-input>
      </div>
      <ng-container *ngIf="rules.stewardEntity as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Data steward attributes</label>
    <div class="grid">
      <div class="control">
        <models4insight-relationships-input
          [tags]="stewardAttributes"
          typeName="m4i_data_attribute"
          [rule]="rules.stewardAttribute"
        ></models4insight-relationships-input>
      </div>
      <ng-container *ngIf="rules.stewardAttribute as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>
</ng-container>
