<div class="card">
  <div class="card-image">
    <a href="auth/">
      <figure class="image">
        <img src="assets/key.png" alt="keykloak logo" />
      </figure>
    </a>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="text">
        Keycloak is an open source Identity and Access Management solution. Via
        Keycloak it is possible to integrate the Aurelius Atlas solution with
        your preferred identity provider, such as Google, Azure AD, or other
        solutions. You can also use Keycloak as a primary identity provider.
        Either way changes on the Keycloak configuration will be required to
        bring it to production level.
      </p>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <a class="button is-primary is-fullwidth" href="auth/">
        Keycloak management UI
      </a>
    </div>
  </footer>
</div>
