.filter {
    padding-left: 2rem;
  }
  
  ul {
    margin-bottom: .5rem;
  }
  
  .read-more {
    color: blue;
    text-decoration: underline;
  }
  
  .menu-label {
    margin-bottom: 0.5rem;
  }