<div class="card">
  <div class="card-image">
    <a href="atlas2/">
      <figure class="image">
        <img src="assets/atlas.png" alt="atlas logo" />
      </figure>
    </a>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="text">
        Apache Atlas is the backend of the Aurelius Atlas solution. To see
        governance data in the backend and to understand the difference in the
        user experience, the Apache Atlas UI is provided. Please first login at
        the Aurelius Atlas UI before accessing the Apache Atlas UI.
      </p>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <a class="button is-primary is-fullwidth" href="atlas2/"> Apache Atlas UI </a>
    </div>
  </footer>
</div>
