<ng-container
  [formGroup]="editorFormService.form"
  *ngIf="validationResults$ | async as rules"
>
  <div class="field">
    <label class="label">Name</label>
    <div class="grid">
      <div class="control">
        <input
          id="name"
          name="name"
          class="input"
          type="text"
          placeholder="Name"
          [formControl]="name"
          required
          [class.is-danger]="(name.dirty || name.touched) && name.invalid"
        />
      </div>
      <ng-container *ngIf="rules.name as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
    <ng-container *ngIf="(name.dirty || name.touched) && name.invalid">
      <p *ngIf="name.errors?.required" class="help is-danger">
        Name is required.
      </p>
    </ng-container>
  </div>

  <div *ngIf="false" class="field">
    <label class="label">Type alias</label>
    <div class="grid">
      <div class="control">
        <input
          id="typeAlias"
          name="typeAlias"
          class="input"
          type="text"
          placeholder="Type alias"
          [formControl]="typeAlias"
          [class.is-danger]="
            (typeAlias.dirty || typeAlias.touched) && typeAlias.invalid
          "
        />
      </div>
      <ng-container *ngIf="rules.typeAlias as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Definition</label>
    <div class="grid">
      <div class="control">
        <textarea
          class="textarea"
          placeholder="Definition"
          [formControl]="definition"
          [class.is-warning]="rules?.definition?.isNonCompliant"
        ></textarea>
      </div>
      <ng-container *ngIf="rules.definition as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Classifications</label>
    <div class="grid">
      <div class="control">
        <models4insight-classifications-input
          [tags]="classifications"
        ></models4insight-classifications-input>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Data entities</label>
    <div class="grid">
      <div class="control">
        <models4insight-relationships-input
          [tags]="dataEntities"
          typeName="m4i_data_entity"
          [rule]="rules?.dataEntity"
        ></models4insight-relationships-input>
      </div>
      <ng-container *ngIf="rules.dataEntity as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>

  <div class="field">
    <label class="label">Domain leads</label>
    <div class="grid">
      <div class="control">
        <models4insight-relationships-input
          [tags]="domainLeads"
          typeName="m4i_person"
          [rule]="rules?.domainLead"
        ></models4insight-relationships-input>
      </div>
      <ng-container *ngIf="rules.domainLead as rules">
        <models4insight-gov-quality-display
          [rules]="rules"
          class="is-size-7"
        ></models4insight-gov-quality-display
      ></ng-container>
    </div>
  </div>
</ng-container>
