.tags-input {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 2.5em;
  padding: 0 0.5rem 0 0.5rem;
  position: relative;

  .input-control {
    border-color: transparent;
    box-shadow: none;
    display: inline-block;
    flex: 1 0 auto;
    height: 2.3rem;
    margin: 0.1rem;
    width: auto;
  }

  .tags .tag {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .control {
    &:last-child,
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.dropdown-menu {
  width: 100%;
  display: block;
}

#options-dropdown {
  width: 100%;
  display: block;
}

#search-results {
  max-height: 15rem;
  overflow-y: auto;
}

:host {
  width: 100%;
  display: block;
}

.business {
  background-color: orange;
  color: white;
}

.technical {
  background-color: blue;
  color: white;
}

.technical-process {
  background-color: #00d1b2;
  color: white;
}

.meta {
  color: hsl(0, 0%, 71%);
}

.truncate {
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
