<div class="level is-mobile">
  <div class="level-left"><h2 class="level-item title is-2">Insights</h2></div>
  <div class="level-right">
    <div class="field level-item">
      <p class="control">
        <a routerLink="/home/welcome" class="button is-link">Back to Welcome</a>
      </p>
    </div>
  </div>
</div>
<div class="content">
  <p>
    As a decision maker, you have access to various dashboard related to your
    team's projects.
  </p>
</div>
<h3 class="title is-3">Set up your account</h3>
<div class="content">
  <p>
    You can set up your account via the account management page. Here, you have
    the option to add additonal info, reset your password, and to set up a
    mobile authenticator for improved security.
  </p>
  <div class="buttons">
    <button class="button is-link is-medium" (click)="accountManagement()">
      Go to account security
    </button>
  </div>
</div>
<hr class="hr" />
<div class="content">
  <h3 class="title is-3">Access your team's project</h3>
  <p>
    Work in Models4Insight is organized as projects. Your team likely has set up
    a project already. You need to be granted access to this project before you
    can view any dashboards.
  </p>
  <p>
    <strong
      >Please share the information below with your team so they can give you
      access:</strong
    >
  </p>
</div>
<div class="field is-expanded">
  <div class="field has-addons">
    <p class="control"><a class="button is-static"> Username </a></p>
    <p class="control is-expanded">
      <input
        #credentialsDisplay
        id="credentialsDisplay"
        class="input"
        placeholder="Loading your username..."
        [value]="(credentials$ | async)?.username"
        aria-label="Your username"
        readonly
      />
    </p>
    <p class="control">
      <a
        #credentialsDisplayCopy
        id="credentialsDisplayCopy"
        class="button is-success"
      >
        <span class="icon"> <fa-icon [icon]="faCopy"></fa-icon> </span>
        <span> Copy to clipboard </span>
      </a>
    </p>
  </div>
</div>
<div class="content">
  <p></p>
  <p>
    Once you have access to a project, it will be visible on your projects page.
    Press the button below to go there directly. The projects page is also
    accessible via the top navigation bar.
  </p>
</div>
<button [routerLink]="['/projects']" class="button is-link is-medium">
  Go to the projects page
</button>
<hr class="hr" />
<div class="content">
  <h3 class="title is-3">Explore models</h3>
  <p>
    When in a project, you will be able to explore the model via the
    <span class="tag is-white"
      ><span class="icon has-text-success"
        ><fa-icon [icon]="faGlobe"></fa-icon></span
      ><span>Model Explorer</span></span
    >. There, you can browse through various aspects of the model that your team
    has prepared.
  </p>
  <p>
    To access the
    <span class="tag is-white"
      ><span class="icon has-text-success"
        ><fa-icon [icon]="faGlobe"></fa-icon></span
      ><span>Model Explorer</span></span
    >, first open your project. Then, find the version of the model that you
    want to have a look at. The Project Homescreen provides an overview of the
    most recent versions, while the Retrieve a Model page offers additional
    search capabilities. You will find the link to the
    <span class="tag is-white"
      ><span class="icon has-text-success"
        ><fa-icon [icon]="faGlobe"></fa-icon></span
      ><span>Model Explorer</span></span
    >
    under the
    <span class="tag is-white"
      ><span class="icon"><fa-icon [icon]="faEllipsisH"></fa-icon></span
      ><span>Context Menu</span></span
    >
    for every model version.
  </p>
</div>
