<section class="hero is-light is-bold">
  <div class="hero-head">
    <header class="navbar">
      <div class="steps is-small">
        <div class="step-item is-active">
          <div class="step-marker"></div>
          <div class="step-details">
            <p class="step-title">First time setup</p>
            <p>Welcome to Aurelius Atlas!</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker"></div>
          <div class="step-details">
            <a class="step-title">Data domains</a>
            <p>Create a first set of data domains</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker"></div>
          <div class="step-details">
            <a class="step-title">Systems</a>
            <p>Create a first set of systems</p>
          </div>
        </div>
        <div class="step-item">
          <div class="step-marker">
            <span class="icon is-small">
              <fa-icon [icon]="faFlag" size="sm"></fa-icon>
            </span>
          </div>
          <div class="step-details">
            <a class="step-title">Summary</a>
            <p>You're all set!</p>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="columns is-vcentered">
      <div class="column">
        <div>
          <p class="title">First time setup</p>
          <p class="subtitle">Welcome to Aurelius Atlas!</p>
          <p class="content">
            This wizard will guide you through the first time setup process of
            creating an initial set of data domains and systems.
          </p>
          <p class="content has-text-weight-bold">
            Please click the button to get started.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <button class="button is-large is-primary is-fullwidth">
          Get started
        </button>
      </div>
    </div>
  </div>
</section>
