<div class="card">
  <div class="card-image">
    <a href="atlas/">
      <figure class="image">
        <img src="assets/aurelius.jpg" alt="aurelius logo" />
      </figure>
    </a>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="text">
        Aurelius Atlas is the user interface for all users in the organization
        to explore and manage governance data.
      </p>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <a class="button is-primary is-fullwidth" href="atlas/">
        Aurelius Atlas UI
      </a>
    </div>
  </footer>
</div>
