<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Technical context</p>
      </div>
      <a class="icon has-text-info" (click)="activateInfoModal()">
        <fa-icon [icon]="faInfoCircle" size="lg"></fa-icon>
      </a>
    </div>
    <article class="media">
      <div class="media-left">
        <span class="icon has-text-primary">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <div class="media-content">
        <div class="content">
          <h6 class="title is-6">
            I'm searching for which data is stored on a specific technical
            environment
          </h6>
          <p>
            Search for keywords related to the system, collection or dataset
            that you are looking for.
          </p>
        </div>
        <nav class="level is-mobile">
          <models4insight-simple-search-input
            [context]="searchBarContext"
            (querySubmitted)="onQuerySubmitted($event)"
          ></models4insight-simple-search-input>
        </nav>
      </div>
    </article>
    <article class="media">
      <div class="media-left">
        <span class="icon has-text-primary">
          <fa-icon [icon]="faCompass"></fa-icon>
        </span>
      </div>
      <div class="media-content">
        <div class="content">
          <h6 class="title is-6">
            I'm exploring the technical environments on which data is stored
          </h6>
          <p>Click the button below to see a list of all systems.</p>
        </div>
        <nav class="level is-mobile">
          <a class="button is-success" (click)="directToTechnical()">
            <span class="icon is-small">
              <fa-icon [icon]="faServer"></fa-icon>
            </span>
            <span>Start browsing systems</span>
          </a>
        </nav>
      </div>
    </article>
  </div>
</div>

<models4insight-technical-context-info-modal></models4insight-technical-context-info-modal>
