<div class="card">
  <div class="card-image">
    <a href="kafka-ui/">
      <figure class="image">
        <img src="assets/kafka.png" alt="Kafka logo" />
      </figure>
    </a>
  </div>
  <div class="card-content">
    <div class="content">
      <p class="text">
        Kafka UI is an open source web interface to inspect Kafka clusters. The
        UI allows to see the available topics and the messages included in a
        topic. This UI is beneficial for development and debugging - especially
        of Apache Flink jobs.
      </p>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item">
      <a class="button is-primary is-fullwidth" href="kafka-ui/"> Kafka UI </a>
    </div>
  </footer>
</div>
